<header class="top-page-header">
  <div class="title-contents" style="display: flex; justify-content: space-between;">
    <div class="header-logo m-3">
      <h3>Koogi mart</h3>
    </div>
    <div class="btn-group m-3" role="group" aria-label="Basic checkbox toggle button group" style="display: inline-box;">
      <input type="checkbox" class="btn-check" id="btncheck1">
      <label class="btn btn-outline-primary" for="btncheck1">
        <%= link_to current_user.nickname, "/users/#{current_user.id}" %>
      </label>

      <input type="checkbox" class="btn-check" id="btncheck2">
      <label class="btn btn-outline-primary" for="btncheck2">
        <%= link_to "クリエイター登録", "new_creators_path" %>
      </label>

      <input type="checkbox" class="btn-check" id="btncheck2">
      <label class="btn btn-outline-primary" for="btncheck2">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </label>
    </div>
  </div>
  <div class="free-search-area input-group mb-3 px-3">
    <input type="text" class="free-search form-control" placeholder="フリーワード検索" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
  </div>
</header>