
 @import "bootstrap";

.top-page-header{
  height: 40%;
  border-bottom: 2px solid lightslategrey;
}

.header-logo {
  width: 25%;
}

.content-cards {
  display: flex;
  flex-wrap: wrap;
}

.item-card{
  flex: none;
}

.card-body {
  text-align: right;
}

.item-area {
  border-bottom:2px solid #b7dddd ;
}

.creator-card{
  flex: none;
}

.creator-area {
  border-bottom:2px solid #fcf2c5 ;
}

.project-card{
  flex: none;
}

.project-area {
  border-bottom:2px solid #f4c1bd ;
}

.sign-up {
  text-decoration: none;
}

.sign-up:hover {
  color: #fff;
}

.log-in {
  text-decoration: none;
}

.log-in:hover {
  color: #fff;
}

.input-default {
  height: 30px;
  resize: none;
}

.my-page-header {
  height: 75px;
  background-color: #fbe2c4;
}

.my-page-main {
  height: calc(100vh - 75px);
  background-color: #fdf2e9;
}

.notice-area {
  height: 400px;
  width: 90%;
  background-color: white;
}

.creator-input-area {
  height: 450px;
  width: 80vmin;
  background-color: white;
}

.creator-text {
  height: 150px;
}