
 @import "bootstrap";

.top-page-header{
  height: 250px;
  border-bottom: 2px solid lightslategrey;
}

.header-logo {
  width: 25%;
}


.header-left{
  min-width: 50vw;
}


.content-cards {
  display: flex;
  flex-wrap: wrap;
}

.item-card{
  flex: none;
}

.card-body {
  text-align: right;
}

.card-img{
  text-align: center;
  width: auto;
  height: auto;
}

.card-text {
  white-space: pre-wrap;
  text-align: left;
  overflow: hidden;
  width: 100%;
}

.item-area {
  border-bottom:2px solid #b7dddd ;
}

.creator-card{
  flex: none;
  width: 350px;
  height: 500px;
}

.creator-area {
  border-bottom:2px solid #fcf2c5 ;
}

.project-card{
  flex: none;
}

.project-area {
  border-bottom:2px solid #f4c1bd ;
}

.sign-up {
  text-decoration: none;
}

.sign-up:hover {
  color: #fff;
}

.log-in {
  text-decoration: none;
}

.log-in:hover {
  color: #fff;
}

.input-default {
  height: 30px;
  resize: none;
}

.my-page-header {
  height: 75px;
  background-color: #fbe2c4;
}

.my-page-main {
  height: calc(100ï¼… - 75px);
  background-color: #fdf2e9;
}

.notice-area {
  height: 400px;
  width: 90%;
  background-color: white;
}

.creator-input-area {
  height: 100%;
  width: 80vmin;
  background-color: white;
}

.creator-text {
  height: 150px;
}

.creator-intro {
  height: 100%;
}


.creator-img {
  width: auto;
  height: auto;
}

.intro-text {
  white-space: pre-wrap;
  width: 100%;
  max-width: 80vh;
}

.order-input-area {
  height: 100%;
  width: 150vmin;
  background-color: white;
}